## Account verification
You need a verified account to place backorders or participate in our auctions. To verify your account, go through the following steps:

1. Download and fill out the [Verified Bidder](https://snapnames.com/files/Snapnames_Verified_Bidder_Form.pdf) application form (pdf 149kb).
<br></br> 
2. Take a photo of any government-issued color photo ID (such as a passport or driver's licence).
<br></br> 
3. Open a [support ticket](https://snapnames.com/support) and submit the Verified Bidder form and a copy of the color photo ID.

Your application will take up to two business days to be processed. Please note that the personal information we collect is for fraud-prevention measures only. For more information on how we handle user data, see our [privacy policy](https://www.example.com).

<br></br> 

**_NOTE: This sample documentation project is not associated with SnapNames/Web.com, LLC._** 
<br></br> 